.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.photo-contact-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  background-color: white;
  width: 225px;
  height: 225px;
  margin-bottom: 10px;
}

.contact-container {
  background-color: white;
  width: 225px;
  height: 225px;
}

.about-container {
  background-color: white;
  width: 325px;
  height: 460px;
  margin-left: 10px;
}