#bg-img {
  background: url("../media/bg-img.png");
  background-size: cover;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.about-container {
  background-color: white;
  width: 300px;
  height: 350px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: white;
}

.photo-contact-container {
  display: flex;
  margin-top: 10px;
}

.photo-container {
  background-color: green;
  width: 115px;
  height: 115px;
  margin-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: white;
}

.contact-container {
  background-color: blue;
  width: 175px;
  height: 115px;
  color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 5%;
  border-color: white;
}



/* laptop, desktop */
@media (min-width: 769px) {
  .about-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 75vh;
  }
  
  .photo-contact-container {
    display: flex;
    flex-direction: column;
    order: 1;
  }
  
  .photo-container {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
  }
  
  .contact-container {
    width: 200px;
    height: 200px;
  }
  
  .about-container {
    width: 200;
    height: 410px;
    order: 2;
    margin: 0;
  }
}