* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  font-family: "Roboto", san-serf;
  font-weight: 400;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

.nav-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.nav-link {
  color: white;
  display: inline;
  text-transform: uppercase;
  padding: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  border-color: white;
  margin: 10px 20px;
  font-size: 1vw;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-icon {
  height: 25px;
  margin: 5px;
}