.bg-video {
  position: fixed;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  color: white;
}

.name-title-container {
  text-align: center;
  margin-bottom: 25px;
}

#home-header {
  font-family: 'Bungee', cursive;
  font-size: 45px;
}

#title-name {
  font-size: 25px;
}

.home-nav-container {
  display: flex;
  flex-direction: column;
}

.home-nav-link {
  color: white;
  display: inline;
  text-transform: uppercase;
  border-style: solid;
  border-width: 2px;
  border-radius: 10%;
  border-color: white;
  margin: 10px 20px;
  padding: 10px 80px;
  font-size: 14px;
}



/* laptop & desktop */
@media (min-width: 769px) {
  #header-name {
    font-size: 60px;
  }
  #title-name {
    font-size: 30px;
  }
  .home-nav-link {
    padding: 10px;
  }
}